name: CI

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  flutter-ci:
    name: CI - Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.27.3
          cache: true

      - name: Clean Flutter cache
        run: flutter clean

      - name: Install dependencies
        run: flutter pub get

      - name: Run static analysis (lint)
        run: flutter analyze

      - name: Check code formatting
        run: |
          dart format --line-length 120 --output=none --set-exit-if-changed lib/
          dart format --line-length 120 --output=none --set-exit-if-changed test/

      - name: Run tests
        run: flutter test --coverage

      - name: Upload coverage report
        uses: VeryGoodOpenSource/very_good_coverage@v3
        with:
          path: coverage/lcov.info
          exclude: '**/*.g.dart'
          min_coverage: 60
      